<div class="card col-md-3" style="background: #C0BFBF">
  <div class="card-block">
    <h4 class="card-title">{{ developer.firstname }}: {{ developer.lastname }}</h4>
    <div class="row" style=" margin-top: 14%;">
    <img src="../assets/images/icon-mail.svg" style="width: 26px; height: 26px">
    <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 2px;">{{ developer.email }}</h6>
  </div>
    <div class="row" style=" margin-top: 14%;">
      <h6>&nbsp; &nbsp; &nbsp; Competence&nbsp;:&nbsp; </h6> &nbsp; {{ developer.competence }}
    </div>
    <div class="row">
      <h6>&nbsp; &nbsp; &nbsp; Langage&nbsp;:&nbsp; </h6> &nbsp; {{ developer.langage }}
    </div>
    <div class="btn " style=" margin-top: 14%;">
      <a href="">
           <img src="../assets/images/icon-maps.svg" style="width: 26px;">
      </a>
      <a href="">
        <img src="../assets/images/icon-edit.png" style="width: 26px;">
      </a>
      <a href="">
         <img src="../assets/images/icon-delete.png" style="width: 26px;">
      </a>
</div>

  </div>
</div>
